**Program 1**

we are having 3 list like this:

colors=["Yellow","Green","White","Black"]


fruits=["Apple","Pappaya","Mango","Orange"]


Animals=["Tiger","Lion","Deer","Zebra"]

WAP that ask user to enter a color/fruit/animal name and it should tell which category belongs to ,.. like its a fruit or color or animal

In [3]:
# solution

data=input("Enter fruit/color/animal name")
result=check(data)
print("Its from "+result+" category")

Enter fruit/color/animal nameLion
Its from Animals category

In [1]:
def check(data):
  Colors=["Yellow","Green","White","Black"]

  Fruits=["Apple","Pappaya","Mango","Orange"]

  Animals=["Tiger","Lion","Deer","Zebra"]

  if data in Colors:
    return "colors"
  elif data in Fruits:
    return "fruits"
  elif data in Animals:
    return "Animals"
  else:
    return "None of"

**Program 2**

WAP that ask user to enter 2 cities and it tells you if they both are in same country or not.     e.g. If I enter yellow and black, it will print "Both are colors" but if I enter yellow and tiger it should print "they dont belong to same category"

In [5]:
# solution

data1=input("Enter any fruit/color/animal name")
data2=input("Enter any fruit/color/animal name")
result=check(data1,data2)
if result==2:
  print("Both are colors")
else:
  print("they dont belong to same category")

Enter any fruit/color/animal nameYellow
Enter any fruit/color/animal nameTiger
they dont belong to same category

In [1]:
def check(data1,dat2):
  Colors=["Yellow","Green","White","Black"]

  Fruits=["Apple","Pappaya","Mango","Orange"]

  Animals=["Tiger","Lion","Deer","Zebra"]

  if (data1 in Colors) and (data2 in Colors):
    return 2
  elif (data1 in Fruits) and (data2 in Fruits):
    return 2
  elif (data1 in Animals) and (data2 in Animals):
    return 2
  else:
    return 0

**Program 3**

Count how many times pass

In [6]:
result=["Pass","Fail","Fail","Pass","Fail","Pass","Pass","Fail","Fail","Fail"]
p=0
for i in result:
  if i=="Pass":
    p+=1

print(p)

4

**Program 4**

In [9]:
for i in range(1,6):
  print("*"*i)
for i in range(4,-1,-1):
  print("*"*i)

*
**
***
****
*****
****
***
**
*

**Program 6**

Find out divisible by 7 and multiple of 5 between 1500 to 2700(both included)

In [11]:
for i in range(1500,2701):
  if (i%7==0) and (i%5==0):
    print(i,sep=' ')

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

**Program 7**

Find square of 10 to 20 except even number

In [12]:
for i in range(10,20):
  if(i%2!=0):
    print(i**2)

121
169
225
289
361

**Program 8**

Find obtained marks from which test ( test1 to test5)

In [22]:
marks_list=[65,75,2100,95,83]
m=int(input("enter marks"))
for i in range(len(marks_list)):
  if(marks_list[i]==m):
    print("Test"+str(i+1))
    break

enter marks75
Test2